SP_API_REFRESH_TOKEN=your_refresh_token
SP_API_LWA_APP_ID=your_lwa_app_id
SP_API_LWA_CLIENT_SECRET=your_lwa_client_secret
SP_API_AWS_ACCESS_KEY=your_aws_access_key
SP_API_AWS_SECRET_KEY=your_aws_secret_key
SP_API_ROLE_ARN=your_role_arn
MARKETPLACE_ID=ATVPDKIKX0DER
